* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Paleblue: hsl(225, 100%, 94%);
  --Brightblue: hsl(245, 75%, 52%);
  --Verypaleblue: hsl(225, 100%, 98%);
  --Desaturatedblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);

}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-image: url(images/pattern-background-mobile.svg);
  background-size: cover;
  /* background-position: top center; */
  height: 100vh;
  background-repeat: no-repeat;
}

@media screen (min-width: 1440px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
  }
}
